$amber: #ffc107 !default;
$amber-1: #fff8e1 !default;
$amber-2: #ffecb3 !default;
$amber-3: #ffe082 !default;
$amber-4: #ffd54f !default;
$amber-5: #ffca28 !default;
$amber-6: #ffc107 !default;
$amber-7: #ffb300 !default;
$amber-8: #ffa000 !default;
$amber-9: #ff8f00 !default;
$amber-10: #ff6f00 !default;
$amber-11: #ffe57f !default;
$amber-12: #ffd740 !default;
$amber-13: #ffc400 !default;
$amber-14: #ffab00 !default;
