$blue-grey: #607d8b !default;
$blue-grey-1: #eceff1 !default;
$blue-grey-2: #cfd8dc !default;
$blue-grey-3: #b0bec5 !default;
$blue-grey-4: #90a4ae !default;
$blue-grey-5: #78909c !default;
$blue-grey-6: #607d8b !default;
$blue-grey-7: #546e7a !default;
$blue-grey-8: #455a64 !default;
$blue-grey-9: #37474f !default;
$blue-grey-10: #263238 !default;
$blue-grey-11: #cfd8dc !default;
$blue-grey-12: #b0bec5 !default;
$blue-grey-13: #78909c !default;
$blue-grey-14: #455a64 !default;
