$blue: #2196f3 !default;
$blue-1: #e3f2fd !default;
$blue-2: #bbdefb !default;
$blue-3: #90caf9 !default;
$blue-4: #64b5f6 !default;
$blue-5: #42a5f5 !default;
$blue-6: #2196f3 !default;
$blue-7: #1e88e5 !default;
$blue-8: #1976d2 !default;
$blue-9: #1565c0 !default;
$blue-10: #0d47a1 !default;
$blue-11: #82b1ff !default;
$blue-12: #448aff !default;
$blue-13: #2979ff !default;
$blue-14: #2962ff !default;
