$brown: #795548 !default;
$brown-1: #efebe9 !default;
$brown-2: #d7ccc8 !default;
$brown-3: #bcaaa4 !default;
$brown-4: #a1887f !default;
$brown-5: #8d6e63 !default;
$brown-6: #795548 !default;
$brown-7: #6d4c41 !default;
$brown-8: #5d4037 !default;
$brown-9: #4e342e !default;
$brown-10: #3e2723 !default;
$brown-11: #d7ccc8 !default;
$brown-12: #bcaaa4 !default;
$brown-13: #8d6e63 !default;
$brown-14: #5d4037 !default;
