$cyan: #00bcd4 !default;
$cyan-1: #e0f7fa !default;
$cyan-2: #b2ebf2 !default;
$cyan-3: #80deea !default;
$cyan-4: #4dd0e1 !default;
$cyan-5: #26c6da !default;
$cyan-6: #00bcd4 !default;
$cyan-7: #00acc1 !default;
$cyan-8: #0097a7 !default;
$cyan-9: #00838f !default;
$cyan-10: #006064 !default;
$cyan-11: #84ffff !default;
$cyan-12: #18ffff !default;
$cyan-13: #00e5ff !default;
$cyan-14: #00b8d4 !default;
