$deep-orange: #ff5722 !default;
$deep-orange-1: #fbe9e7 !default;
$deep-orange-2: #ffccbc !default;
$deep-orange-3: #ffab91 !default;
$deep-orange-4: #ff8a65 !default;
$deep-orange-5: #ff7043 !default;
$deep-orange-6: #ff5722 !default;
$deep-orange-7: #f4511e !default;
$deep-orange-8: #e64a19 !default;
$deep-orange-9: #d84315 !default;
$deep-orange-10: #bf360c !default;
$deep-orange-11: #ff9e80 !default;
$deep-orange-12: #ff6e40 !default;
$deep-orange-13: #ff3d00 !default;
$deep-orange-14: #dd2c00 !default;
