$deep-purple: #673ab7 !default;
$deep-purple-1: #ede7f6 !default;
$deep-purple-2: #d1c4e9 !default;
$deep-purple-3: #b39ddb !default;
$deep-purple-4: #9575cd !default;
$deep-purple-5: #7e57c2 !default;
$deep-purple-6: #673ab7 !default;
$deep-purple-7: #5e35b1 !default;
$deep-purple-8: #512da8 !default;
$deep-purple-9: #4527a0 !default;
$deep-purple-10: #311b92 !default;
$deep-purple-11: #b388ff !default;
$deep-purple-12: #7c4dff !default;
$deep-purple-13: #651fff !default;
$deep-purple-14: #6200ea !default;
