$green: #4caf50 !default;
$green-1: #e8f5e9 !default;
$green-2: #c8e6c9 !default;
$green-3: #a5d6a7 !default;
$green-4: #81c784 !default;
$green-5: #66bb6a !default;
$green-6: #4caf50 !default;
$green-7: #43a047 !default;
$green-8: #388e3c !default;
$green-9: #2e7d32 !default;
$green-10: #1b5e20 !default;
$green-11: #b9f6ca !default;
$green-12: #69f0ae !default;
$green-13: #00e676 !default;
$green-14: #00c853 !default;
