$grey: #9e9e9e !default;
$grey-1: #fafafa !default;
$grey-2: #f5f5f5 !default;
$grey-3: #eee !default;
$grey-4: #e0e0e0 !default;
$grey-5: #bdbdbd !default;
$grey-6: #9e9e9e !default;
$grey-7: #757575 !default;
$grey-8: #616161 !default;
$grey-9: #424242 !default;
$grey-10: #212121 !default;
$grey-11: #f5f5f5 !default;
$grey-12: #eee !default;
$grey-13: #bdbdbd !default;
$grey-14: #616161 !default;
