$light-blue: #03a9f4 !default;
$light-blue-1: #e1f5fe !default;
$light-blue-2: #b3e5fc !default;
$light-blue-3: #81d4fa !default;
$light-blue-4: #4fc3f7 !default;
$light-blue-5: #29b6f6 !default;
$light-blue-6: #03a9f4 !default;
$light-blue-7: #039be5 !default;
$light-blue-8: #0288d1 !default;
$light-blue-9: #0277bd !default;
$light-blue-10: #01579b !default;
$light-blue-11: #80d8ff !default;
$light-blue-12: #40c4ff !default;
$light-blue-13: #00b0ff !default;
$light-blue-14: #0091ea !default;
