$light-green: #8bc34a !default;
$light-green-1: #f1f8e9 !default;
$light-green-2: #dcedc8 !default;
$light-green-3: #c5e1a5 !default;
$light-green-4: #aed581 !default;
$light-green-5: #9ccc65 !default;
$light-green-6: #8bc34a !default;
$light-green-7: #7cb342 !default;
$light-green-8: #689f38 !default;
$light-green-9: #558b2f !default;
$light-green-10: #33691e !default;
$light-green-11: #ccff90 !default;
$light-green-12: #b2ff59 !default;
$light-green-13: #76ff03 !default;
$light-green-14: #64dd17 !default;
