$lime: #cddc39 !default;
$lime-1: #f9fbe7 !default;
$lime-2: #f0f4c3 !default;
$lime-3: #e6ee9c !default;
$lime-4: #dce775 !default;
$lime-5: #d4e157 !default;
$lime-6: #cddc39 !default;
$lime-7: #c0ca33 !default;
$lime-8: #afb42b !default;
$lime-9: #9e9d24 !default;
$lime-10: #827717 !default;
$lime-11: #f4ff81 !default;
$lime-12: #eeff41 !default;
$lime-13: #c6ff00 !default;
$lime-14: #aeea00 !default;
