$orange: #ff9800 !default;
$orange-1: #fff3e0 !default;
$orange-2: #ffe0b2 !default;
$orange-3: #ffcc80 !default;
$orange-4: #ffb74d !default;
$orange-5: #ffa726 !default;
$orange-6: #ff9800 !default;
$orange-7: #fb8c00 !default;
$orange-8: #f57c00 !default;
$orange-9: #ef6c00 !default;
$orange-10: #e65100 !default;
$orange-11: #ffd180 !default;
$orange-12: #ffab40 !default;
$orange-13: #ff9100 !default;
$orange-14: #ff6d00 !default;
