$pink: #e91e63 !default;
$pink-1: #fce4ec !default;
$pink-2: #f8bbd0 !default;
$pink-3: #f48fb1 !default;
$pink-4: #f06292 !default;
$pink-5: #ec407a !default;
$pink-6: #e91e63 !default;
$pink-7: #d81b60 !default;
$pink-8: #c2185b !default;
$pink-9: #ad1457 !default;
$pink-10: #880e4f !default;
$pink-11: #ff80ab !default;
$pink-12: #ff4081 !default;
$pink-13: #f50057 !default;
$pink-14: #c51162 !default;
