$purple: #9c27b0 !default;
$purple-1: #f3e5f5 !default;
$purple-2: #e1bee7 !default;
$purple-3: #ce93d8 !default;
$purple-4: #ba68c8 !default;
$purple-5: #ab47bc !default;
$purple-6: #9c27b0 !default;
$purple-7: #8e24aa !default;
$purple-8: #7b1fa2 !default;
$purple-9: #6a1b9a !default;
$purple-10: #4a148c !default;
$purple-11: #ea80fc !default;
$purple-12: #e040fb !default;
$purple-13: #d500f9 !default;
$purple-14: #a0f !default;
