$red: #f44336 !default;
$red-1: #ffebee !default;
$red-2: #ffcdd2 !default;
$red-3: #ef9a9a !default;
$red-4: #e57373 !default;
$red-5: #ef5350 !default;
$red-6: #f44336 !default;
$red-7: #e53935 !default;
$red-8: #d32f2f !default;
$red-9: #c62828 !default;
$red-10: #b71c1c !default;
$red-11: #ff8a80 !default;
$red-12: #ff5252 !default;
$red-13: #ff1744 !default;
$red-14: #d50000 !default;
