$teal: #009688 !default;
$teal-1: #e0f2f1 !default;
$teal-2: #b2dfdb !default;
$teal-3: #80cbc4 !default;
$teal-4: #4db6ac !default;
$teal-5: #26a69a !default;
$teal-6: #009688 !default;
$teal-7: #00897b !default;
$teal-8: #00796b !default;
$teal-9: #00695c !default;
$teal-10: #004d40 !default;
$teal-11: #a7ffeb !default;
$teal-12: #64ffda !default;
$teal-13: #1de9b6 !default;
$teal-14: #00bfa5 !default;
