$yellow: #ffeb3b !default;
$yellow-1: #fffde7 !default;
$yellow-2: #fff9c4 !default;
$yellow-3: #fff59d !default;
$yellow-4: #fff176 !default;
$yellow-5: #ffee58 !default;
$yellow-6: #ffeb3b !default;
$yellow-7: #fdd835 !default;
$yellow-8: #fbc02d !default;
$yellow-9: #f9a825 !default;
$yellow-10: #f57f17 !default;
$yellow-11: #ffff8d !default;
$yellow-12: #ff0 !default;
$yellow-13: #ffea00 !default;
$yellow-14: #ffd600 !default;
