/* stylelint-disable scss/operator-no-unspaced */
/* stylelint-disable media-query-no-invalid */
/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable scss/no-global-function-names */
/* stylelint-disable function-no-unknown */
// Max width at which point
// current size ends
$breakpoint-xs: 599px !default;
$breakpoint-sm: 1023px !default;
$breakpoint-md: 1439px !default;
$breakpoint-lg: 1919px !default;
// $breakpoint-xl: 2399px !default;

$sizes: (
  "xs": 0,
  "sm": ($breakpoint-xs + 1),
  "md": ($breakpoint-sm + 1),
  "lg": ($breakpoint-md + 1),
  "xl": ($breakpoint-lg + 1)
) !default;

$breakpoint-xs-max: (map-get($sizes, "sm") - 0.02) !default;

$breakpoint-sm-min: map-get($sizes, "sm") !default;
$breakpoint-sm-max: (map-get($sizes, "md") - 0.02) !default;

$breakpoint-md-min: map-get($sizes, "md") !default;
$breakpoint-md-max: (map-get($sizes, "lg") - 0.02) !default;

$breakpoint-lg-min: map-get($sizes, "lg") !default;
$breakpoint-lg-max: (map-get($sizes, "xl") - 0.02) !default;

$breakpoint-xl-min: map-get($sizes, "xl") !default;

@mixin media-down($media) {
  @if $media==xs {
    @media only screen and (max-width: $breakpoint-xs) {
      @content;
    }
  }

 @else if $media==sm {
    @media only screen and (max-width: $breakpoint-sm) {
      @content;
    }
  }

 @else if $media==md {
    @media only screen and (max-width: $breakpoint-md) {
      @content;
    }
  }

 @else if $media==lg {
    @media only screen and (max-width: $breakpoint-lg) {
      @content;
    }
  }
}

@mixin media-up($media) {
  @if $media==xs {
    @media only screen and (min-width: $breakpoint-xs + 1) {
      @content;
    }
  }

 @else if $media==sm {
    @media only screen and (min-width: $breakpoint-sm + 1) {
      @content;
    }
  }

 @else if $media==md {
    @media only screen and (min-width: $breakpoint-md + 1) {
      @content;
    }
  }

 @else if $media==lg {
    @media only screen and (min-width: $breakpoint-lg + 1) {
      @content;
    }
  }
}

@mixin media-between($media-min, $media-max) {
  @media only screen and (min-width: $media-min) and (max-width: $media-max) {
    @content;
  }
}
