$button-border-radius: 3px !default;
$button-padding: 4px 16px !default;
$button-dense-padding: 0.285em !default;
$button-transition: $generic-hover-transition !default;
$button-font-size: 14px !default;
$button-line-height: 1.715em !default;
$button-font-weight: 500 !default;
$button-shadow: $shadow-2 !default;
$button-shadow-active: $shadow-5 !default;
$button-rounded-border-radius: 28px !default;
$button-push-border-radius: 7px !default;
