$primary: #1976d2 !default;
$secondary: #26a69a !default;
$accent: #9c27b0 !default;

/* used by dark mode */
$dark-page: #121212 !default;
$dark: #1d1d1d !default;
$positive: #21ba45 !default;
$negative: #c10015 !default;
$info: #31ccec !default;
$warning: #f2c037 !default;
$white: #fff !default;
$black: #000 !default;
$dimmed-background: rgb(0 0 0 / 40%) !default;
$light-dimmed-background: rgb(255 255 255 / 60%) !default;
$separator-color: rgb(0 0 0 / 12%) !default;
$separator-dark-color: rgb(255 255 255 / 28%) !default;
