$primary: #1976D2 !default;
$secondary: #26A69A !default;
$accent: #9C27B0 !default;

/* used by dark mode */
$dark-page: #121212 !default;
$dark: #1d1d1d !default;
$positive: #21BA45 !default;
$negative: #C10015 !default;
$info: #31CCEC !default;
$warning: #F2C037 !default;
$white: #fff !default;
$black: #000 !default;
$dimmed-background: rgb(0 0 0 / 40%) !default;
$light-dimmed-background: rgb(255 255 255 / 60%) !default;
$separator-color: rgb(0 0 0 / 12%) !default;
$separator-dark-color: rgb(255 255 255 / 28%) !default;
