$img-loading-font-size: 50px !default;
$img-content-position: absolute !default;
$img-content-padding: 16px !default;
$img-content-color: $white !default;
$img-content-background: rgb(0 0 0 / 47%) !default;
