$input-font-size                : 14px !default;
$input-text-color               : rgb(0 0 0 / .87) !default;
$input-label-color              : rgb(0 0 0 / .6) !default;
$input-autofill-color           : inherit !default;
