$layout-border: 1px solid $separator-color !default;
$layout-shadow:
  0 0 10px 2px rgba($shadow-color, 0.2),
  0 0 10px rgba($shadow-color, 0.24) !default;
$layout-shadow-dark:
  0 0 10px 2px rgba($dark-shadow-color, 0.2),
  0 0 10px rgba($dark-shadow-color, 0.24) !default;
