$space-base: 16px !default;
$space-x-base: $space-base !default;
$space-y-base: $space-base !default;
$space-none: (x: 0, y: 0) !default;
$space-xs: (x: ($space-x-base * .25), y: ($space-y-base * .25)) !default;
$space-sm: (x: ($space-x-base * .5), y: ($space-y-base * .5)) !default;
$space-md: (x: $space-x-base, y: $space-y-base) !default;
$space-lg: (x: ($space-x-base * 1.5), y: ($space-y-base * 1.5)) !default;
$space-xl: (x: ($space-x-base * 3), y: ($space-y-base * 3)) !default;
$spaces: (
  "none": $space-none,
  "xs": $space-xs,
  "sm": $space-sm,
  "md": $space-md,
  "lg": $space-lg,
  "xl": $space-xl
) !default;
