$table-transition: $generic-hover-transition !default;
$table-border-radius: $generic-border-radius !default;
$table-box-shadow: $shadow-2 !default;
$table-border-color: $separator-color !default;
$table-hover-background: rgb(0 0 0 / 3%) !default;
$table-selected-background: rgb(0 0 0 / 6%) !default;
$table-dark-border-color: $separator-dark-color !default;
$table-dark-hover-background: rgb(255 255 255 / 7%) !default;
$table-dark-selected-background: rgb(255 255 255 / 10%) !default;
$table-box-shadow-dark: $dark-shadow-2 !default;
