$tooltip-color                  : #fafafa !default;
$tooltip-background             : $grey-7 !default;
$tooltip-padding                : 6px 10px !default;
$tooltip-border-radius          : $generic-border-radius !default;
$tooltip-fontsize               : 10px !default;
$tooltip-mobile-padding         : 8px 16px !default;
$tooltip-mobile-fontsize        : 14px !default;
