$toolbar-min-height: 50px !default;
$toolbar-padding: 0 12px !default;
$toolbar-inset-size: 58px !default;
$toolbar-title-font-size: 21px !default;
$toolbar-title-font-weight: normal !default;
$toolbar-title-letter-spacing: 0.01em !default;
$toolbar-title-padding: 0 12px !default;
